In [1]:
import pandas as pd

In [6]:
dataFrame = pd.read_csv("./2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv")
dataFrame.head()

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)

In [34]:
color = dataFrame["Primary Fur Color"]
color

0            NaN
1           Gray
2       Cinnamon
3           Gray
4            NaN
          ...
3018        Gray
3019        Gray
3020        Gray
3021        Gray
3022    Cinnamon
Name: Primary Fur Color, Length: 3023, dtype: object

In [33]:
grey_squirrel_count = len(dataFrame[dataFrame["Primary Fur Color"] == "Gray"])
grey_squirrel_count

2473

In [37]:
cinnamon_squirrel_count = len(dataFrame[dataFrame["Primary Fur Color"] == "Cinnamon"])
black_squirrel_count = len(dataFrame[dataFrame["Primary Fur Color"] == "Black"])
print(cinnamon_squirrel_count)
print(black_squirrel_count)

392
103

In [41]:
data_dict = {
    "Fur Color": ["Gray", "Cinnamon", "Black"],
    "Count": [grey_squirrel_count,cinnamon_squirrel_count,black_squirrel_count]
}
print(data_dict)

{'Fur Color': ['Gray', 'Cinnamon', 'Black'], 'Count': [2473, 392, 103]}

In [ ]:
df = pd.DataFrame(data_dict)
df.to_csv("Squirrel_color_count.csv")